#loading {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100vw;
   height: 100vh;
   background-color: rgba(192, 192, 192, 0.3);
   background-image: url("Rolling-1s-200px.gif");
   background-repeat: no-repeat;
   background-position: center;
   text-align: center;
   vertical-align: middle;
   line-height: 100vh;
}
#loading_text {
   display: none;
   position: absolute;
   top: 100;
   z-index: 100;
   width: 100vw;
   height: 0vh;
   text-align: center;
   vertical-align: middle;
   line-height: 100vh;
   font-family: 'Franklin Gothic Book';
   font-size: 15px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
[v-cloak] {
   display: none;
}
button,
input,
select,
.time_input {
   font-family: 'Franklin Gothic Book';
   font-size: 15px;
}
#summary {
   font-family: 'PT Serif';
   padding-left: 30px;
}
#sources {
   font-family: 'PT Serif';
   font-size: 13px;
   padding-left: 30px;
}
@font-face {
   font-family: Franklin Gothic Demi;
   src: url(Franklin_Gothic_Demi_Regular.ttf);
}
@font-face {
   font-family: Franklin Gothic Medium;
   src: url(Franklin_Gothic_Medium_Regular.ttf);
}
@font-face {
   font-family: Franklin Gothic Book;
   src: url(Franklin_Gothic_Book_Regular.ttf);
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  font-family: 'Franklin Gothic Book';
  background-color: #fefefe;
  margin: 5% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content span {
  display:block;
}

.modal-content .question {
  font-size: 17px;
  font-weight: bold;
}

.modal-content .answer {
  font-size: 15px;
  font-weight: italic;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}