#loading {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100vw;
   height: 100vh;
   background-color: rgba(192, 192, 192, 0.3);
   background-image: url("Rolling-1s-200px.gif");
   background-repeat: no-repeat;
   background-position: center;
}
[v-cloak] {
   display: none;
}
button,
input,
select,
.time_input {
   font-family: 'Franklin Gothic Book';
   font-size: 15px;
}
#summary {
   font-family: 'PT Serif';
   padding-left: 30px;
}
#sources {
   font-family: 'PT Serif';
   font-size: 13px;
   padding-left: 30px;
}